/**
* Sass variables
* Ref: https://sass-lang.com/documentation/variables
*/

// Colours
$deepBlue: #032f3e;
$offWhite: #f8f9fb;

// Font sizes
$bannerHeading: 42px;
$sectionHeading: 24px;

// Paddings
$padding: 15px;
$borders: 15px;
